@font-face {
  font-family: "founders-grotesk";
  src: url("./fonts/FoundersGrotesk/FoundersGroteskXCond-Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue-montreal";
  src: url("./fonts/NeueMontreal/NeueMontreal-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* 
  body {
    font-family: 'Founders Grotesk', sans-serif;
  } */
